:root {
    --beehive-background1: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(3) rotate(15)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(40, 83%, 76%, 1)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='0.5' stroke='hsla(192, 33%, 53%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

    --beehive-background2: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(3) rotate(15)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(40, 83%, 76%, 1)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='0.5' stroke='hsla(339, 81%, 68%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

    --moonstone: #61A0AF;
    --sky-blue: #96C9DC;
    --cyclamen: #F06C9B;
    --melon: #F9B9B7;
    --peach-yellow: #F5D491;
    --peach-yellow-darker: #d5b066;
    --lavender-blush: #EADDE1;
}

@keyframes beehive-glow {
    0% {
        background-image: var(--beehive-background1);
    }

    50% {
        background-image: var(--beehive-background2);
    }

    100% {
        background-image: var(--beehive-background1);
    }
}

@keyframes logo-glow {
    0% {
        text-shadow: 0px 0px 5px #61A0AF;
    }

    50% {
        text-shadow: 0px 0px 10px #F06C9B;
    }

    100% {
        text-shadow: 0px 0px 5px #61A0AF;
    }
}

@keyframes tilt-shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes jump-drop {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(0.7);
    }

    66% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

* {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 1.5rem;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    animation: beehive-glow 4s ease-in-out 0s infinite normal forwards;
}

.flex-container {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: .25rem solid #F06C9B;
    border-radius: .25rem;
    box-shadow: 0px 0px 0px 0.25rem #d85f8a, 0px 0px 20px 0px #61A0AF;
    background-color: #F06C9B;
    width: 350px;
}

.display {
    height: 125px;
    font-size: 2.5rem;
    background-color: #F9B9B7;
    border-radius: 0.25rem;
    border: 5px inset #d85f8a;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    padding-right: 8px;
}

button {
    cursor: pointer;
    padding: 0.25rem;
    background-color: #96C9DC;
    border: 2px solid #61A0AF;
    border-radius: .25rem;
    box-shadow: 0px 4px 0px 0px #61A0AF;
    transition: all 0.2s ease-in-out 0s;
}

button:hover:enabled {
    filter: saturate(150%);
    transform: translateY(1px);
    box-shadow: 0px 3px 0px 0px #61A0AF;
}

button:active:enabled {
    filter: saturate(100%);
    transform: translateY(4px);
    box-shadow: 0px 0px 0px 0px #61A0AF;
}

.buttonHighlighted {
    cursor: pointer;
    padding: 0.25rem;
    background-color: #F5D491;
    border: 2px solid #d5b066;
    border-radius: .25rem;
    box-shadow: 0px 4px 0px 0px #d5b066;
    transition: all 0.2s ease-in-out 0s;
}

.buttonHighlighted:hover:enabled {
    filter: saturate(150%);
    transform: translateY(1px);
    box-shadow: 0px 3px 0px 0px #d5b066;
}

.buttonHighlighted:active:enabled {
    filter: saturate(100%);
    transform: translateY(4px);
    box-shadow: 0px 0px 0px 0px #d5b066;
}

.buttons {
    margin: 0.25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.25rem;
}

.buttons>#equal {
    grid-row: 4 / span 2;
    grid-column: 4;
}

.buttons>#zero {
    grid-column: 1 / span 2;
}

.buttons>#point:disabled {
    filter: saturate(0%);
}

.copyright {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.copyright>p {
    font-size: 1rem;
    animation: logo-glow 4s ease-in-out 0s infinite normal forwards;
}

.github {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.tilt-shake {
    animation: tilt-shake 0.25s linear infinite;
}

.jump-drop {
    animation: jump-drop 1s linear;
}